
{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class=form-group>
            <input autocomplete="off" autofocus placeholder="Symbol" name="symbol" type="text" class=form-control>
        </div>
        <div class=form-group>
            <input autocomplete="off" autofocus placeholder="Shares" min"1" type="number" name="shares" class=form-control>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}