{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}


{% block main %}
    <table class="table table-striped">
        <caption style="font-weight: Bold; font-size: 15px; caption-side: top" >Your Portfolio</caption>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in portfolio %}
            <tr>
                <td>{{row["symbol"]}}</td>
                <td>{{row["shares"]}}</td>
                <td>${{row["price"]}}</td>
                <td>{{row["transacted"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}